In [49]:
import requests
import re
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

True

In [34]:
# Load the apikey
apiKey = os.getenv("google_apiKey")
print("WE HAVE APIKEY") if apiKey else print("NO APIKEY FOUND")

WE HAVE APIKEY

In [35]:
def getFromGoogle(queryParams=dict()):
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    res = requests.get(url, params=queryParams)
    print(res.status_code)
    return res.json()

In [36]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"20000",
    "type":"airport",
    "keyword":"SFO",
    "key":f'{apiKey}'
}

airport = getFromGoogle(queryParams)

200

In [37]:
airport

{'html_attributions': [],
 'results': [{'geometry': {'location': {'lat': 37.6213129,
     'lng': -122.3789554},
    'viewport': {'northeast': {'lat': 37.62722864999999, 'lng': -122.36840685},
     'southwest': {'lat': 37.60356565, 'lng': -122.41060105}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/airport-71.png',
   'id': '9c9fb107d7a776c3f6a26791b07982d7db079113',
   'name': 'San Francisco International Airport',
   'photos': [{'height': 3648,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107959744760686167125">HongWei Huang</a>'],
     'photo_reference': 'CmRaAAAARbUmtfkGZOdMPAuVB6lvn3M7EKDzBML_NqwgCRFeZAMKQLDgN9WMvNPTSVpjPJNG2-Wwj6CYjafR3FEGlACsY-1eUGQYasOOeYCfK5rQwDdlqSbnrbMbQnYFuaH-u5kyEhCMn1tlYki0qRuBuZaHT-pxGhTLxdwauhs2S8CyG7StbXFI6eHVbA',
     'width': 5472}],
   'place_id': 'ChIJVVVVVYx3j4ARP-3NGldc8qQ',
   'plus_code': {'compound_code': 'JJCC+GC South San Francisco, California',
    'global_code': '849VJJCC+GC'},
   'rating': 3.9,
   'reference': 'ChIJVVVVVYx3j4ARP-3NGldc8qQ',
   'scope': 'GOOGLE',
   'types': ['airport', 'point_of_interest', 'establishment'],
   'user_ratings_total': 7014,
   'vicinity': 'San Francisco'}],
 'status': 'OK'}

In [120]:
airport =[{"category":"airport","location":{"type":"Point","coordinates":[e["geometry"]["location"]["lng"],e["geometry"]["location"]["lat"]]}}]

df_airport = pd.DataFrame(airport)
df_airport

  category                                           location
0  airport  {'type': 'Point', 'coordinates': [-122.422096,...

In [40]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"5000",
    "type":"cafe",
    "keyword":"Starbucks",
    "key":f'{apiKey}'
}

cafe = getFromGoogle(queryParams)

200

In [119]:
lista_cafe = []
for e in cafe["results"]:
    if e["name"] == "Starbucks":
        lista_cafe.append({"category":"Starbucks","location":{"type":"Point","coordinates":[e["geometry"]["location"]["lng"],e["geometry"]["location"]["lat"]]}})

df_cafe = pd.DataFrame(lista_cafe)
df_cafe

     category                                           location
0   Starbucks  {'type': 'Point', 'coordinates': [-122.4042684...
1   Starbucks  {'type': 'Point', 'coordinates': [-122.38783, ...
2   Starbucks  {'type': 'Point', 'coordinates': [-122.40385, ...
3   Starbucks  {'type': 'Point', 'coordinates': [-122.406831,...
4   Starbucks  {'type': 'Point', 'coordinates': [-122.438964,...
5   Starbucks  {'type': 'Point', 'coordinates': [-122.409623,...
6   Starbucks  {'type': 'Point', 'coordinates': [-122.422065,...
7   Starbucks  {'type': 'Point', 'coordinates': [-122.392268,...
8   Starbucks  {'type': 'Point', 'coordinates': [-122.409094,...
9   Starbucks  {'type': 'Point', 'coordinates': [-122.431709,...
10  Starbucks  {'type': 'Point', 'coordinates': [-122.467331,...
11  Starbucks  {'type': 'Point', 'coordinates': [-122.430395,...
12  Starbucks  {'type': 'Point', 'coordinates': [-122.40576, ...
13  Starbucks  {'type': 'Point', 'coordinates': [-122.431519,...
14  Starbucks  {'type': 'Point', 'coordinates': [-122.4563688...
15  Starbucks  {'type': 'Point', 'coordinates': [-122.41285, ...
16  Starbucks  {'type': 'Point', 'coordinates': [-122.4034092...
17  Starbucks  {'type': 'Point', 'coordinates': [-122.4172872...
18  Starbucks  {'type': 'Point', 'coordinates': [-122.402728,...
19  Starbucks  {'type': 'Point', 'coordinates': [-122.422096,...

In [42]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"5000",
    "type":"restaurant",
    "keyword":"vegan",
    "key":f'{apiKey}'
}

rest_vegano = getFromGoogle(queryParams)

200

In [118]:
lista_vegano = []
for e in rest_vegano["results"]:
    if re.search(r".*(v|V)egan.*", e["name"]):
        lista_vegano.append({"category":"vegan rest","location":{"type":"Point","coordinates":[e["geometry"]["location"]["lng"],e["geometry"]["location"]["lat"]]}})

df_vegano = pd.DataFrame(lista_vegano)
df_vegano

     category                                           location
0  vegan rest  {'type': 'Point', 'coordinates': [-122.4636464...
1  vegan rest  {'type': 'Point', 'coordinates': [-122.4221595...
2  vegan rest  {'type': 'Point', 'coordinates': [-122.4464842...
3  vegan rest  {'type': 'Point', 'coordinates': [-122.4317498...

In [46]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"5000",
    "type":"night_club",
    "keyword":"pub",
    "key":f'{apiKey}'
}

pubs = getFromGoogle(queryParams)

200

In [121]:
lista_pubs = []
for e in pubs["results"]:
    lista_pubs.append({"category":"pub","location":{"type":"Point","coordinates":[e["geometry"]["location"]["lng"],e["geometry"]["location"]["lat"]]}})

df_pubs = pd.DataFrame(lista_pubs)
df_pubs

   category                                           location
0       pub  {'type': 'Point', 'coordinates': [-122.4220047...
1       pub  {'type': 'Point', 'coordinates': [-122.4206407...
2       pub  {'type': 'Point', 'coordinates': [-122.4052746...
3       pub  {'type': 'Point', 'coordinates': [-122.4100374...
4       pub  {'type': 'Point', 'coordinates': [-122.4212979...
5       pub  {'type': 'Point', 'coordinates': [-122.4088611...
6       pub  {'type': 'Point', 'coordinates': [-122.4143364...
7       pub  {'type': 'Point', 'coordinates': [-122.4085, 3...
8       pub  {'type': 'Point', 'coordinates': [-122.413792,...
9       pub  {'type': 'Point', 'coordinates': [-122.4094049...
10      pub  {'type': 'Point', 'coordinates': [-122.4204128...
11      pub  {'type': 'Point', 'coordinates': [-122.414007,...
12      pub  {'type': 'Point', 'coordinates': [-122.4193399...
13      pub  {'type': 'Point', 'coordinates': [-122.4064201...
14      pub  {'type': 'Point', 'coordinates': [-122.3981969...
15      pub  {'type': 'Point', 'coordinates': [-122.420771,...
16      pub  {'type': 'Point', 'coordinates': [-122.4190216...
17      pub  {'type': 'Point', 'coordinates': [-122.4134032...
18      pub  {'type': 'Point', 'coordinates': [-122.433329,...
19      pub  {'type': 'Point', 'coordinates': [-122.4144444...

In [122]:
requisitos=pd.concat([df_airport,df_cafe,df_pubs,df_vegano],axis=0)

In [123]:
requisitos.head()

    category                                           location
0    airport  {'type': 'Point', 'coordinates': [-122.422096,...
0  Starbucks  {'type': 'Point', 'coordinates': [-122.4042684...
1  Starbucks  {'type': 'Point', 'coordinates': [-122.38783, ...
2  Starbucks  {'type': 'Point', 'coordinates': [-122.40385, ...
3  Starbucks  {'type': 'Point', 'coordinates': [-122.406831,...

In [124]:
requisitos.to_json("../output/requisitos.json",orient="records")
requisitos.to_csv("../output/requisitos.csv")