In [32]:
import requests
import re
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

True

In [33]:
# Load the apikey
apiKey = os.getenv("google_apiKey")
print("WE HAVE APIKEY") if apiKey else print("NO APIKEY FOUND")

WE HAVE APIKEY

In [34]:
def getFromGoogle(queryParams=dict()):
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    res = requests.get(url, params=queryParams)
    print(res.status_code)
    return res.json()

In [35]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"20000",
    "type":"airport",
    "keyword":"SFO",
    "key":f'{apiKey}'
}

airport = getFromGoogle(queryParams)

200

In [36]:
airport

{'html_attributions': [],
 'results': [{'geometry': {'location': {'lat': 37.6213129,
     'lng': -122.3789554},
    'viewport': {'northeast': {'lat': 37.62722864999999, 'lng': -122.36840685},
     'southwest': {'lat': 37.60356565, 'lng': -122.41060105}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/airport-71.png',
   'id': '9c9fb107d7a776c3f6a26791b07982d7db079113',
   'name': 'San Francisco International Airport',
   'photos': [{'height': 3648,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107959744760686167125">HongWei Huang</a>'],
     'photo_reference': 'CmRaAAAA5xSuXS2S0tsMYkPB_NryEAhBxlbc-x39St8y8UmdvtmLXkkWXyo7Kj38Ff6rYz4z_QkgU8aekr_K57Sld1Fhhm7lfofZsMXw32MuvKZE0pbxX5O9YznTp5qQc4PxO_WsEhC3GwT7HMPwia9h1VRoCMKMGhQZrtTlebaGpSfy908YnxfBrBNV_A',
     'width': 5472}],
   'place_id': 'ChIJVVVVVYx3j4ARP-3NGldc8qQ',
   'plus_code': {'compound_code': 'JJCC+GC South San Francisco, California',
    'global_code': '849VJJCC+GC'},
   'rating': 3.9,
   'reference': 'ChIJVVVVVYx3j4ARP-3NGldc8qQ',
   'scope': 'GOOGLE',
   'types': ['airport', 'point_of_interest', 'establishment'],
   'user_ratings_total': 7015,
   'vicinity': 'San Francisco'}],
 'status': 'OK'}

In [40]:
airport =[{"category":"airport","name":airport["results"][0]["name"],
           "location":{"type":"Point","coordinates":[airport["results"][0]["geometry"]["location"]["lng"],airport["results"][0]["geometry"]["location"]["lat"]]}}]

df_airport = pd.DataFrame(airport)
df_airport

,category,name,location
0,airport,San Francisco International Airport,"{'type': 'Point', 'coordinates': [-122.3789554..."

In [41]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"5000",
    "type":"cafe",
    "keyword":"Starbucks",
    "key":f'{apiKey}'
}

cafe = getFromGoogle(queryParams)

200

In [52]:
lista_cafe = []
for e in cafe["results"]:
    if e["name"] == "Starbucks":
        lista_cafe.append({"category":"Starbucks","name":e["name"],
                           "location":{"type":"Point","coordinates":[e["geometry"]["location"]["lng"],e["geometry"]["location"]["lat"]]}})

df_cafe = pd.DataFrame(lista_cafe)
df_cafe

     category       name                                           location
0   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.4042684...
1   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.38783, ...
2   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.40385, ...
3   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.406831,...
4   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.438964,...
5   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.409623,...
6   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.422065,...
7   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.431709,...
8   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.392268,...
9   Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.409094,...
10  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.430395,...
11  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.40576, ...
12  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.467331,...
13  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.431519,...
14  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.4563688...
15  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.41285, ...
16  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.4034092...
17  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.4172872...
18  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.428353,...
19  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.402728,...

In [43]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"5000",
    "type":"restaurant",
    "keyword":"vegan",
    "key":f'{apiKey}'
}

rest_vegano = getFromGoogle(queryParams)

200

In [51]:
lista_vegano = []
for e in rest_vegano["results"]:
    if re.search(r".*(v|V)egan.*", e["name"]):
        lista_vegano.append({"category":"vegan rest","name":e["name"],
                             "location":{"type":"Point","coordinates":[e["geometry"]["location"]["lng"],e["geometry"]["location"]["lat"]]}})

df_vegano = pd.DataFrame(lista_vegano)
df_vegano

,category,name,location
0,vegan rest,Loving Hut Vegan Restaurant,"{'type': 'Point', 'coordinates': [-122.4636464..."
1,vegan rest,Indochine Vegan,"{'type': 'Point', 'coordinates': [-122.4221595..."
2,vegan rest,VeganBurg San Francisco,"{'type': 'Point', 'coordinates': [-122.4464842..."
3,vegan rest,Shizen Vegan Sushi Bar and Izakaya,"{'type': 'Point', 'coordinates': [-122.4216815..."
4,vegan rest,Vegan Picnic,"{'type': 'Point', 'coordinates': [-122.4317498..."

In [12]:
queryParams= {
    "location":"37.774929,-122.4194183",
    "radius":"5000",
    "type":"night_club",
    "keyword":"pub",
    "key":f'{apiKey}'
}

pubs = getFromGoogle(queryParams)

200

In [53]:
lista_pubs = []
for e in pubs["results"]:
    lista_pubs.append({"category":"pub","name":e["name"],
                       "location":{"type":"Point","coordinates":[e["geometry"]["location"]["lng"],e["geometry"]["location"]["lat"]]}})

df_pubs = pd.DataFrame(lista_pubs)
df_pubs

,category,name,location
0,pub,Rouge Night Club,"{'type': 'Point', 'coordinates': [-122.4220047..."
1,pub,Raven Bar,"{'type': 'Point', 'coordinates': [-122.4088611..."
2,pub,Monarch,"{'type': 'Point', 'coordinates': [-122.4085, 3..."
3,pub,OMG,"{'type': 'Point', 'coordinates': [-122.4094049..."
4,pub,Calle-11sf Nightclub,"{'type': 'Point', 'coordinates': [-122.414007,..."
5,pub,Latin American Club,"{'type': 'Point', 'coordinates': [-122.4206407..."
6,pub,Make-Out Room,"{'type': 'Point', 'coordinates': [-122.4193399..."
7,pub,El Valenciano,"{'type': 'Point', 'coordinates': [-122.420771,..."
8,pub,El Toro Night Club,"{'type': 'Point', 'coordinates': [-122.4052746..."
9,pub,OASIS,"{'type': 'Point', 'coordinates': [-122.4144444..."
10,pub,F8 Nightclub & Bar,"{'type': 'Point', 'coordinates': [-122.4100374..."
11,pub,Space 550,"{'type': 'Point', 'coordinates': [-122.404738,..."
12,pub,The Chapel,"{'type': 'Point', 'coordinates': [-122.4212979..."
13,pub,The Holy Cow,"{'type': 'Point', 'coordinates': [-122.4143364..."
14,pub,Audio Nightclub,"{'type': 'Point', 'coordinates': [-122.413792,..."
15,pub,San Francisco Badlands,"{'type': 'Point', 'coordinates': [-122.4355306..."
16,pub,Lush Lounge,"{'type': 'Point', 'coordinates': [-122.4204128..."
17,pub,Love + Propaganda,"{'type': 'Point', 'coordinates': [-122.4064201..."
18,pub,Harlot,"{'type': 'Point', 'coordinates': [-122.3981969..."
19,pub,SWIG,"{'type': 'Point', 'coordinates': [-122.4125, 3..."

In [54]:
requisitos=pd.concat([df_airport,df_cafe,df_pubs,df_vegano],axis=0)

In [55]:
requisitos.head()

,category,name,location
0,airport,San Francisco International Airport,"{'type': 'Point', 'coordinates': [-122.3789554..."
0,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.4042684..."
1,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.38783, ..."
2,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.40385, ..."
3,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.406831,..."

In [56]:
def easyLatLng(row):
    loc = row.location
    return {
        "latitude":float(loc["coordinates"][1]),
        "longitude":float(loc["coordinates"][0])
    }

In [57]:
requisitos_coord = requisitos.apply(easyLatLng,axis=1,result_type="expand")
requisitos_coord.head()

    latitude   longitude
0  37.621313 -122.378955
0  37.792814 -122.404268
1  37.741198 -122.387830
2  37.784460 -122.403850
3  37.789348 -122.406831

In [58]:
requisitos = pd.concat([requisitos,requisitos_coord],axis=1)

In [59]:
requisitos.head()

,category,name,location,latitude,longitude
0,airport,San Francisco International Airport,"{'type': 'Point', 'coordinates': [-122.3789554...",37.621313,-122.378955
0,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.4042684...",37.792814,-122.404268
1,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.38783, ...",37.741198,-122.387830
2,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.40385, ...",37.784460,-122.403850
3,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.406831,...",37.789348,-122.406831

In [60]:
requisitos.to_json("../output/requisitos.json",orient="records")
requisitos.to_csv("../output/requisitos.csv")