# **Info from Google API**

In [46]:
import re
import pandas as pd
from fc_API import *
from fc_cleaning import easyLatLng

### **Info about airports**

In [2]:
# getFromGoogle function to get info from the API
# getQueryParams function to introduce query params in the requests
airport = getFromGoogle(getQueryParams(20000,"airport","SFO",None))

200

In [3]:
airport

{'html_attributions': [],
 'results': [{'geometry': {'location': {'lat': 37.6213129,
     'lng': -122.3789554},
    'viewport': {'northeast': {'lat': 37.62722864999999, 'lng': -122.36840685},
     'southwest': {'lat': 37.60356565, 'lng': -122.41060105}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/airport-71.png',
   'id': '9c9fb107d7a776c3f6a26791b07982d7db079113',
   'name': 'San Francisco International Airport',
   'photos': [{'height': 3648,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107959744760686167125">HongWei Huang</a>'],
     'photo_reference': 'CmRaAAAAlokxEefbvjPzez7PC6quYVzWGHC6HcE5mMHJn1MDSWeP6-hwa6l3IxIKsBlHndKaQcZPNs7D4t3UqD4OPjCR4lavzn-2E5rRmD5tOcKVW3Tt4uhh-8IS_p4B3Zg41coPEhDNoFddb2Bn1mjPJEE-3MIzGhSZ5Mc_pk0ug__wWxEeBIfhg9jLTw',
     'width': 5472}],
   'place_id': 'ChIJVVVVVYx3j4ARP-3NGldc8qQ',
   'plus_code': {'compound_code': 'JJCC+GC South San Francisco, California',
    'global_code': '849VJJCC+GC'},
   'rating': 3.9,
   'reference': 'ChIJVVVVVYx3j4ARP-3NGldc8qQ',
   'scope': 'GOOGLE',
   'types': ['airport', 'point_of_interest', 'establishment'],
   'user_ratings_total': 7015,
   'vicinity': 'San Francisco'}],
 'status': 'OK'}

In [4]:
# getInfoFromRes function to generate a list from the info of API response
df_airport = pd.DataFrame(getInfoFromRes(airport,r".*Francisco.*","airport"))
df_airport

,category,name,location
0,airport,San Francisco International Airport,"{'type': 'Point', 'coordinates': [-122.3789554..."

### **Info about Starbucks**

In [5]:
cafe = getFromGoogle(getQueryParams(5000,"cafe","Starbucks",None))

200

In [6]:
df_cafe = pd.DataFrame(getInfoFromRes(cafe,r".*Starbucks.*","Starbucks"))
display(df_cafe.head(),df_cafe.shape)

    category       name                                           location
0  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.4042684...
1  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.38783, ...
2  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.40385, ...
3  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.406831,...
4  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.438964,...

(20, 3)

In [39]:
#print(cafe["next_page_token"]) There are more pages

In [8]:
second_cafe = getFromGoogle(getQueryParams(5000,"cafe","Starbucks",cafe["next_page_token"]))

200

In [9]:
df_second_cafe = pd.DataFrame(getInfoFromRes(second_cafe,r".*Starbucks.*","Starbucks"))
display(df_second_cafe.head(), df_second_cafe.shape)

    category       name                                           location
0  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.422096,...
1  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.415114,...
2  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.420425,...
3  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.3999959...
4  Starbucks  Starbucks  {'type': 'Point', 'coordinates': [-122.39713, ...

(20, 3)

In [10]:
df_cafe = pd.concat([df_cafe,df_second_cafe],axis=0)
df_cafe.shape

(40, 3)

In [40]:
#print(cafe2["next_page_token"]) There are more pages

In [12]:
third_cafe = getFromGoogle(getQueryParams(5000,"cafe","Starbucks",second_cafe["next_page_token"]))

200

In [16]:
df_third_cafe = pd.DataFrame(getInfoFromRes(third_cafe,r".*Starbucks.*","Starbucks"))
display(df_third_cafe.head(), df_third_cafe.shape)

,category,name,location
0,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.4011112..."
1,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.3987895..."
2,Starbucks,Starbucks Reserve,"{'type': 'Point', 'coordinates': [-122.438558,..."
3,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.410696,..."
4,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.400508,..."

(20, 3)

In [17]:
# 60 Starbucks are enough
df_cafe = pd.concat([df_cafe,df_third_cafe],axis=0)
df_cafe.shape

(60, 3)

### **Info about vegan restaurants**

In [18]:
rest_vegan = getFromGoogle(getQueryParams(5000,"restaurant","vegan",None))

200

In [19]:
df_vegan = pd.DataFrame(getInfoFromRes(rest_vegan,r".*(v|V)egan.*","vegan rest"))
display(df_vegan.head(), df_vegan.shape)

,category,name,location
0,vegan rest,Loving Hut Vegan Restaurant,"{'type': 'Point', 'coordinates': [-122.4636464..."
1,vegan rest,Indochine Vegan,"{'type': 'Point', 'coordinates': [-122.4221595..."
2,vegan rest,VeganBurg San Francisco,"{'type': 'Point', 'coordinates': [-122.4464842..."
3,vegan rest,Shizen Vegan Sushi Bar and Izakaya,"{'type': 'Point', 'coordinates': [-122.4216815..."
4,vegan rest,Vegan Picnic,"{'type': 'Point', 'coordinates': [-122.4317498..."

(5, 3)

In [41]:
#print(rest_vegano["next_page_token"]) There are more pages

In [21]:
second_rest_vegan = getFromGoogle(getQueryParams(5000,"restaurant","vegan",rest_vegan["next_page_token"]))

200

In [22]:
df_second_vegan = pd.DataFrame(getInfoFromRes(second_rest_vegan,r".*(v|V)egan.*","vegan rest"))
display(df_second_vegan.head(), df_second_vegan.shape)

     category          name                                           location
0  vegan rest  Vegan Picnic  {'type': 'Point', 'coordinates': [-122.4205203...

(1, 3)

In [23]:
df_vegan = pd.concat([df_vegan,df_second_vegan],axis=0)
df_vegan.shape

(6, 3)

In [42]:
#print(rest_vegano2["next_page_token"]) There are more pages

In [25]:
third_rest_vegan = getFromGoogle(getQueryParams(5000,"restaurant","vegan",second_rest_vegan["next_page_token"]))

200

In [26]:
df_third_vegan = pd.DataFrame(getInfoFromRes(third_rest_vegan,r".*(v|V)egan.*","vegan rest"))
display(df_third_vegan.head(), df_third_vegan.shape)

Empty DataFrame
Columns: []
Index: []

(0, 0)

In [27]:
#print(rest_vegano3["next_page_token"]) No more pages
df_vegan.head()

,category,name,location
0,vegan rest,Loving Hut Vegan Restaurant,"{'type': 'Point', 'coordinates': [-122.4636464..."
1,vegan rest,Indochine Vegan,"{'type': 'Point', 'coordinates': [-122.4221595..."
2,vegan rest,VeganBurg San Francisco,"{'type': 'Point', 'coordinates': [-122.4464842..."
3,vegan rest,Shizen Vegan Sushi Bar and Izakaya,"{'type': 'Point', 'coordinates': [-122.4216815..."
4,vegan rest,Vegan Picnic,"{'type': 'Point', 'coordinates': [-122.4317498..."

### **Info about pubs**

In [28]:
pubs = getFromGoogle(getQueryParams(5000,"night_club","pub",None))

200

In [29]:
df_pubs = pd.DataFrame(getInfoFromRes(pubs,r".*","pub"))
display(df_pubs.head(), df_pubs.shape)

,category,name,location
0,pub,F8 Nightclub & Bar,"{'type': 'Point', 'coordinates': [-122.4100374..."
1,pub,Rouge Night Club,"{'type': 'Point', 'coordinates': [-122.4220047..."
2,pub,Raven Bar,"{'type': 'Point', 'coordinates': [-122.4088611..."
3,pub,The Holy Cow,"{'type': 'Point', 'coordinates': [-122.4143364..."
4,pub,Club 26 Mix,"{'type': 'Point', 'coordinates': [-122.4182993..."

(20, 3)

In [43]:
#print(pubs["next_page_token"]) There are more pages

In [31]:
second_pubs = getFromGoogle(getQueryParams(5000,"night_club","pub",pubs["next_page_token"]))

200

In [32]:
df_second_pubs = pd.DataFrame(getInfoFromRes(second_pubs,r".*","pub"))
display(df_second_pubs.head(), df_second_pubs.shape)

,category,name,location
0,pub,Space 550,"{'type': 'Point', 'coordinates': [-122.404738,..."
1,pub,SalsaCrazy Saturday Salsa Club,"{'type': 'Point', 'coordinates': [-122.4637533..."
2,pub,Underground SF,"{'type': 'Point', 'coordinates': [-122.4293949..."
3,pub,The Chapel,"{'type': 'Point', 'coordinates': [-122.4212979..."
4,pub,Cat Club,"{'type': 'Point', 'coordinates': [-122.4098711..."

(20, 3)

In [33]:
# 40 pubs are enough
df_pubs = pd.concat([df_pubs,df_second_pubs],axis=0)
df_pubs.shape

(40, 3)

# **Info organization**

In [44]:
shops = pd.concat([df_airport,df_cafe,df_vegan,df_pubs],axis=0)

In [45]:
display(shops.head(),shops.shape)

,category,name,location
0,airport,San Francisco International Airport,"{'type': 'Point', 'coordinates': [-122.3789554..."
0,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.4042684..."
1,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.38783, ..."
2,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.40385, ..."
3,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.406831,..."

(107, 3)

In [47]:
shops_coord = shops.apply(easyLatLng,axis=1,result_type="expand")
shops_coord.head()

    latitude   longitude
0  37.621313 -122.378955
0  37.792814 -122.404268
1  37.741198 -122.387830
2  37.784460 -122.403850
3  37.789348 -122.406831

In [48]:
shops = pd.concat([shops,shops_coord],axis=1)

In [49]:
display(shops.head(),shops.shape)

,category,name,location,latitude,longitude
0,airport,San Francisco International Airport,"{'type': 'Point', 'coordinates': [-122.3789554...",37.621313,-122.378955
0,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.4042684...",37.792814,-122.404268
1,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.38783, ...",37.741198,-122.387830
2,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.40385, ...",37.784460,-122.403850
3,Starbucks,Starbucks,"{'type': 'Point', 'coordinates': [-122.406831,...",37.789348,-122.406831

(107, 5)

In [50]:
shops.to_json("../output/shops.json",orient="records")
shops.to_csv("../output/shops.csv")