In [26]:
import requests
import pandas as pd
from pymongo import MongoClient
from pymongo import ASCENDING, DESCENDING
from bson.json_util import dumps

In [27]:
"""
def geocode(address):
    res = requests.get(f"https://geocode.xyz/{address}",params={"json":1})
    data = res.json()
    print(res)
    # Return as GeoJSON -> https://geojson.org/
    return {
        "type":"Point",
        "coordinates": [float(data["longt"]), float(data["latt"])]
    }

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-27-639094f3ef2f>, line 10)

In [28]:
# Voy a convertir todos los datos de latitud y longitud de las empresas a formato GeoJSON.
client = MongoClient("mongodb://localhost/datamad0320")
db = client.get_database()

In [29]:
# Lo primero: query para seleccionar las empresas que contengan office y contengan al menos un elemento
all_companies = db.companies.find({"$and":[{"offices":{"$exists":True}},{"offices":{"$not":{"$size":0}}}]},{"offices":1})

#{"offices.latitude":{"$ne":"null"}},{"offices.longitude':  { $ne: null } }]}
#es posible que elimine documentos que no quiero

In [30]:
df = pd.DataFrame(all_companies)
display(df.head(),df.shape)

                        _id                                            offices
0  52cdef7c4bab8bd675297d8b  [{'description': 'Headquarters', 'address1': '...
1  52cdef7c4bab8bd675297d92  [{'description': None, 'address1': '8536 Natio...
2  52cdef7c4bab8bd675297d8c  [{'description': 'Headquarters', 'address1': '...
3  52cdef7c4bab8bd675297d8a  [{'description': '', 'address1': '710 - 2nd Av...
4  52cdef7c4bab8bd675297d93  [{'description': '', 'address1': '407 N Maple ...

(13744, 2)

In [31]:
# convierto los id en formato json
for i in range(len(df["_id"])):
    df["_id"].iloc[i] = dumps(df["_id"].iloc[i])

In [32]:
len(df["_id"])

13744

In [33]:
# separar los objetos de las listas offices
df = df.explode("offices")
display(df.head(),df.shape)

,_id,offices
0,"{""$oid"": ""52cdef7c4bab8bd675297d8b""}","{'description': 'Headquarters', 'address1': '4..."
1,"{""$oid"": ""52cdef7c4bab8bd675297d92""}","{'description': None, 'address1': '8536 Nation..."
2,"{""$oid"": ""52cdef7c4bab8bd675297d8c""}","{'description': 'Headquarters', 'address1': '4..."
3,"{""$oid"": ""52cdef7c4bab8bd675297d8a""}","{'description': '', 'address1': '710 - 2nd Ave..."
3,"{""$oid"": ""52cdef7c4bab8bd675297d8a""}","{'description': '', 'address1': '270 Lafayette..."

(16705, 2)

In [34]:
df.offices.isnull().value_counts()

False    16705
Name: offices, dtype: int64

In [35]:
# transform office object into GeoPoint for office
def officeToGeoPoint(row):
    office = row.offices
    if type(office) == dict:
        if 'latitude' in office and 'longitude' in office:
            if office["latitude"] and office["longitude"]:
                return ({
                    "type":"Point",
                    "coordinates":[float(office["longitude"]),float(office["latitude"])]
                },"success")
            else:
                return(None,"Invalid lat and long")
        else:
            return (None,"No lat and long keys in office dict")
    return (None,"No office")

In [36]:
cleaned_offices = df.apply(officeToGeoPoint, axis=1, result_type="expand")
cleaned_offices.columns = ["office","state"]
display(cleaned_offices.head(),cleaned_offices.shape)

                                              office    state
0  {'type': 'Point', 'coordinates': [-121.904945,...  success
1  {'type': 'Point', 'coordinates': [-118.379768,...  success
2  {'type': 'Point', 'coordinates': [-121.904945,...  success
3  {'type': 'Point', 'coordinates': [-122.333253,...  success
3  {'type': 'Point', 'coordinates': [-73.9964312,...  success

(16705, 2)

In [37]:
cleaned_offices.state.value_counts()

success                 10834
Invalid lat and long     5871
Name: state, dtype: int64

In [38]:
company_processed = pd.concat([df,cleaned_offices], axis=1)
display(company_processed.head(),company_processed.shape)

,_id,offices,office,state
0,"{""$oid"": ""52cdef7c4bab8bd675297d8b""}","{'description': 'Headquarters', 'address1': '4...","{'type': 'Point', 'coordinates': [-121.904945,...",success
1,"{""$oid"": ""52cdef7c4bab8bd675297d92""}","{'description': None, 'address1': '8536 Nation...","{'type': 'Point', 'coordinates': [-118.379768,...",success
2,"{""$oid"": ""52cdef7c4bab8bd675297d8c""}","{'description': 'Headquarters', 'address1': '4...","{'type': 'Point', 'coordinates': [-121.904945,...",success
3,"{""$oid"": ""52cdef7c4bab8bd675297d8a""}","{'description': '', 'address1': '710 - 2nd Ave...","{'type': 'Point', 'coordinates': [-122.333253,...",success
3,"{""$oid"": ""52cdef7c4bab8bd675297d8a""}","{'description': '', 'address1': '270 Lafayette...","{'type': 'Point', 'coordinates': [-73.9964312,...",success

(16705, 4)

In [39]:
GeoCompanies = company_processed.drop(columns="offices")
display(GeoCompanies.head(),GeoCompanies.shape)

,_id,office,state
0,"{""$oid"": ""52cdef7c4bab8bd675297d8b""}","{'type': 'Point', 'coordinates': [-121.904945,...",success
1,"{""$oid"": ""52cdef7c4bab8bd675297d92""}","{'type': 'Point', 'coordinates': [-118.379768,...",success
2,"{""$oid"": ""52cdef7c4bab8bd675297d8c""}","{'type': 'Point', 'coordinates': [-121.904945,...",success
3,"{""$oid"": ""52cdef7c4bab8bd675297d8a""}","{'type': 'Point', 'coordinates': [-122.333253,...",success
3,"{""$oid"": ""52cdef7c4bab8bd675297d8a""}","{'type': 'Point', 'coordinates': [-73.9964312,...",success

(16705, 3)

In [41]:
geo2 = GeoCompanies.drop(columns="_id")
geo2.shape

(16705, 2)

In [42]:
# Export as json to do mongodb import
# $ mongoimport --db datamad0320 --collection companies_prepared --jsonArray companies_clean.json
geo2.to_json("../output/geocompanies.json",orient="records")